<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">

		<title>MedicStats</title>

		<!--script id="sap-ui-bootstrap"
			src="../../resources/sap-ui-core.js"
			data-sap-ui-libs="sap.m"
			data-sap-ui-theme="sap_belize"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-resourceroots='{"comMediStats": ""}'>
		</script-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="../static/js/scripts.js"></script>
	</head>

	<body>
		<div id="background"></div>
		<div id="shadow-div"></div>
		<div id="cover-page">
			<div id="cover-content">
				<div id="cover-title">
					<div id="sub">Welcome To</div>
					<div id="main">MedicStats</div>
					<div id="desc">
						Find medical providers with the most experience for you
					</div>
				</div>
				<div id="input-init">
					<button type="button" id="start-btn" class="btn btn-info">Get Started</button>
					<button type="button" id="learn-btn" class="btn btn-warning">Learn More</button>
					<form id="data-entry" action="/action_page.php">
						<input type="text" class="form-control" placeholder="Procedure" aria-label="zip" aria-describedby="basic-addon1">
						<input type="text" class="form-control" placeholder="Zip Code" aria-label="zip" aria-describedby="basic-addon1">
						<button type="button" id="submit-btn" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			<!--div id="data-results" class="sapUiBody"-->
				<div class="data-option">
					<div class="left-pane">
						<!--div id="map"></div>
				    <script>
				      function initMap() {
				        var uluru = {lat: -25.363, lng: 131.044};
				        var map = new google.maps.Map(document.getElementById('map'), {
				          zoom: 4,
				          center: uluru
				        });
				        var marker = new google.maps.Marker({
				          position: uluru,
				          map: map
				        });
				      }
				    </script>
				    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcxXwDTXmH8PcEKWjDRQHonXaUBN_tjGg&callback=initMap">
				    </script-->
						<img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg" width: 400px;></img>
					</div>
					<div class="right-pane">
						<div class="item">
							<div class="left-col">
								<div class="item-title">DC Hospital</div>
								<div class="item-website"><span>Address:</span> 27494 Park Drive,<br/>Orange Beach, AL 36561</div>
							</div>
							<div class="right-col">
								<div class="item-freq-title">Times Performed:</div>
								<div class="item-freq">544</div>
							</div>
						</div>
						<div class="item">
							<div class="left-col">
								<div class="item-title">DC Hospital</div>
								<div class="item-website"><span>Address:</span> 27494 Park Drive,<br/>Orange Beach, AL 36561</div>
							</div>
							<div class="right-col">
								<div class="item-freq-title">Times Performed:</div>
								<div class="item-freq">544</div>
							</div>
						</div>
						<div class="item">
							<div class="left-col">
								<div class="item-title">DC Hospital</div>
								<div class="item-website"><span>Address:</span> 27494 Park Drive,<br/>Orange Beach, AL 36561</div>
							</div>
							<div class="right-col">
								<div class="item-freq-title">Times Performed:</div>
								<div class="item-freq">544</div>
							</div>
						</div>
						<div class="item">
							<div class="left-col">
								<div class="item-title">DC Hospital</div>
								<div class="item-website"><span>Address:</span> 27494 Park Drive,<br/>Orange Beach, AL 36561</div>
							</div>
							<div class="right-col">
								<div class="item-freq-title">Times Performed:</div>
								<div class="item-freq">544</div>
							</div>
						</div>
					</div>
				</div>
			<!--/div-->
		</div>
		<div id="about-us">
			<h2>Making More Easier</h2><hr/>
			<p>
				As health services have improved, information about them have become harder
				to find and manage. Such is the case with procedure count; while data on the
				number of procedures hospitals conduct is publicly available, it is very
				diffifuclt to find and aggregate. This is a shame, as such information can
				be used to help people make better judgements on the hospitals they choose to
				go to.
			</p><div class="dash"></div>
			<p>
				Here, we hope to be able to present the data in a simpler way
				by focusing on the number of procedures completed by the providers. The
				computations are based off of data from the <a href="https://data.cms.gov/Medicare-Physician-Supplier/Medicare-Provider-Utilization-and-Payment-Data-Phy/sk9b-znav">
				Centers for Medicare & Medicaid Services</a> website. All you have to do
				is type in a procedure and your ZIP code you'll be all set.
			</p>
			<button type="button" id="return-btn" class="btn btn-warning">Return</button>
		</div>
		<footer>
			<div>
				<div id="left-footer">Morgan Mendis, Vadim Kudlay, and Anh Thai</div>
				<div id="right-footer">Made for <a href="http://hackuva.io/">HACK.UVA</a> 2018</div>
			</div>
		</footer>
	</body>
</html>
